### Hamoye- Introduction to Python for Machine Learning tag along project
## by Rania MEKRAZI

In [12]:
#Import python lib
import pandas as pd

In [13]:
#download data
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'
df = pd.read_csv(url, encoding="latin-1")

In [14]:
#show the data
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [15]:
# do groupby  of 'Element' and write the total number of sum of processing in 2017
sum_process=df.groupby('Element')['Y2017'].sum()
print('The total number  is ' + str(sum_process.loc['Processing']))

The total number  is 292836.0

In [16]:
# the percentage of missing data in 2014 to 3dp
total_number=df['Y2014'].isnull().sum()
print('The total number missing is: ' + str(total_number))

The total number missing is: 1589

In [17]:
# The meand and standard deviation of the dataset for the year 2017 to 2dp
std=df["Y2017"].std()
mean=df['Y2017'].mean()
print('mean: ' + str(mean)); print('standard deviation: ' + str(std))

mean: 140.9177648602722
standard deviation: 1671.8623590567995

In [18]:
# which year had the highest stock variation,
# The answer is 2017.
stock_var= df.groupby('Element')[['Y2014', 'Y2015','Y2016','Y2017', 'Y2018']].max()
print(stock_var)
print('The year with the highest stock variation is ' + str(stock_var.loc['Stock Variation', 'Y2017']))

                                            Y2014      Y2015      Y2016  \
Element
Domestic supply quantity                108756.00  110798.00  116483.00
Export Quantity                          39686.00   52578.00   35420.00
Fat supply quantity (g/capita/day)          93.73      96.79      94.33
Feed                                     29797.00   30472.00   31607.00
Food                                     49014.00   50705.00   52612.00
Food supply (kcal/capita/day)             3435.00    3454.00    3451.00
Food supply quantity (kg/capita/yr)        428.27     418.21     419.48
Import Quantity                          19582.00   18824.00   19858.00
Losses                                    9807.00    9999.00   10432.00
Other uses (non-food)                    12552.00    6001.00    6099.00
Processing                               18383.00   21609.00   21739.00
Production                              109593.00  111663.00  119330.00
Protein supply quantity (g/capita/day)     100.34     100.33     100.94
Residuals                                16697.00   16136.00   18077.00
Seed                                      1258.00    1352.00    1402.00
Stock Variation                           4569.00    3418.00    3266.00
Total Population - Both sexes           176405.00  181137.00  185960.00
Tourist consumption                         62.00      48.00       6.00

                                            Y2017      Y2018
Element
Domestic supply quantity                112625.00  117038.00
Export Quantity                          34641.00   34641.00
Fat supply quantity (g/capita/day)          97.13      94.94
Feed                                     29580.00   31567.00
Food                                     51220.00   54077.00
Food supply (kcal/capita/day)             3457.00    3450.00
Food supply quantity (kg/capita/yr)        433.38     443.56
Import Quantity                          18627.00   18036.00
Losses                                   10342.00   10355.00
Other uses (non-food)                    17219.00   17221.00
Processing                               22174.00   22609.00
Production                              117702.00  118172.00
Protein supply quantity (g/capita/day)     100.10     101.08
Residuals                                17476.00   17323.00
Seed                                      1453.00    1474.00
Stock Variation                           5089.00    2226.00
Total Population - Both sexes           190873.00  195875.00
Tourist consumption                          6.00       6.00
The year with the highest stock variation is 5089.0

In [19]:
# The total sum of wine produced in 2015 and 2018 respectively

total_wine= df.groupby('Item')[['Item','Y2015','Y2018']].sum()
print(total_wine.tail())

                        Y2015      Y2018
Item
Vegetables, Other   158104.08  163987.21
Vegetal Products    107064.17  107775.39
Wheat and products  234710.51  242645.19
Wine                  4251.81    4039.32
Yams                203151.78  221272.09

### The answer is 4251.81 and 4039.32

In [20]:
# Total protein supply in Madagascar in 2015

general = df.groupby(['Area', 'Element'])[['Y2015']].sum()
madga_protein_supply=general.loc[['Madagascar']]
print(madga_protein_supply.tail())

                                                      Y2015
Area       Element
Madagascar Protein supply quantity (g/capita/day)    173.05
           Residuals                                -616.00
           Seed                                      699.00
           Stock Variation                          -505.00
           Total Population - Both sexes           24234.00

### Answer is = 173.05

In [21]:
# Perform a groupby operation on 'Area', select columns 'Y2017' and 'Area', and find out which of these areas has 
# the 7th lowest sum in 20117
# the Ans= Guinea-Bissau
lowest_sum=df.groupby('Area')[['Area', 'Y2017']].sum()
print(lowest_sum.sort_values(by='Y2017', axis= 0, ascending=True))
print('Guinea-Bissau as it comes 7 in order of ascending')

                                  Y2017
Area
Sudan (former)                     0.00
Ethiopia PDR                       0.00
Comoros                           59.84
Seychelles                       442.34
Sao Tome and Principe          12662.63
Cabo Verde                     14650.74
Guinea-Bissau                  19102.77
Lesotho                        21267.96
Botswana                       22101.30
Djibouti                       22729.91
Gambia                         23154.18
Gabon                          27979.64
Liberia                        29342.20
Namibia                        29874.89
Central African Republic       29937.00
Congo                          41181.68
Togo                           49841.88
Mauritius                      51114.83
Eswatini                       54343.33
Sierra Leone                   55311.33
Chad                           71594.68
Rwanda                         73663.69
Zimbabwe                       75919.34
Senegal                        95681.15
Guinea                         98138.87
Burkina Faso                  101855.07
Zambia                        103223.77
Tunisia                       124167.20
Benin                         124771.22
Niger                         126707.58
Madagascar                    131197.73
Mali                          149928.33
Mauritania                    156665.46
Mozambique                    161407.98
Malawi                        181098.71
Uganda                        213950.38
Côte d'Ivoire                 224599.01
Angola                        229159.57
Cameroon                      232030.43
Sudan                         239931.92
Kenya                         264660.66
United Republic of Tanzania   322616.85
Algeria                       325644.27
Ghana                         337599.06
Morocco                       388495.36
Ethiopia                      448683.76
South Africa                  517590.54
Egypt                         866379.92
Nigeria                      1483268.23
Guinea-Bissau as it comes 7 in order of ascending

In [23]:
# Perform a groupby operation on 'Area', select columns 'Y2017' and 'Area', and find out which of these areas has 
# the highest sum in 20117
# the Ans= Nigeria
highest_sum=df.groupby('Area')[['Area', 'Y2017']].sum()
print(highest_sum.sort_values(by='Y2017', axis= 0, ascending=True))
print('Nigeria is the highest as it comes last in ascending order')

                                  Y2017
Area
Sudan (former)                     0.00
Ethiopia PDR                       0.00
Comoros                           59.84
Seychelles                       442.34
Sao Tome and Principe          12662.63
Cabo Verde                     14650.74
Guinea-Bissau                  19102.77
Lesotho                        21267.96
Botswana                       22101.30
Djibouti                       22729.91
Gambia                         23154.18
Gabon                          27979.64
Liberia                        29342.20
Namibia                        29874.89
Central African Republic       29937.00
Congo                          41181.68
Togo                           49841.88
Mauritius                      51114.83
Eswatini                       54343.33
Sierra Leone                   55311.33
Chad                           71594.68
Rwanda                         73663.69
Zimbabwe                       75919.34
Senegal                        95681.15
Guinea                         98138.87
Burkina Faso                  101855.07
Zambia                        103223.77
Tunisia                       124167.20
Benin                         124771.22
Niger                         126707.58
Madagascar                    131197.73
Mali                          149928.33
Mauritania                    156665.46
Mozambique                    161407.98
Malawi                        181098.71
Uganda                        213950.38
Côte d'Ivoire                 224599.01
Angola                        229159.57
Cameroon                      232030.43
Sudan                         239931.92
Kenya                         264660.66
United Republic of Tanzania   322616.85
Algeria                       325644.27
Ghana                         337599.06
Morocco                       388495.36
Ethiopia                      448683.76
South Africa                  517590.54
Egypt                         866379.92
Nigeria                      1483268.23
Nigeria is the highest as it comes last in ascending order

In [24]:
# Which year had the least correlation
least_corr=df.groupby('Element Code')[['Y2014','Y2015','Y2016','Y2017','Y2018']].corr()
_min=least_corr.min()
print(_min)

Y2014   -0.086111
Y2015    0.202471
Y2016    0.202471
Y2017    0.203159
Y2018   -0.086111
dtype: float64